.footer__container {
    grid-template-columns: 1fr auto auto;
    padding: 2em 5dvw;
    background: rgb(var(--rgb-pearl), 0.3);
    color: var(--dark);

    .footer__acknowledgement {
        font-weight: 600;
        padding-inline: 1em;
    }

    // .footer__links {}
    .footer__social {
        img {
            width: 40px;
            height: 40px;
        }
    }
}
