:root {
    * {
        display: grid;
    }

    script {
        display: none !important;
    }
};

p:has(img[title^=diagram]) {
    display: grid;

    img {
        place-self: center;
    }
};

pre.mermaid {
    display: grid;
    place-items: center;

    &.gantt svg {
        min-width: 50% !important;
    }
};

.sr-only {
    display: none;
};
