:root {

};

footer {

};

p:has(img[title^=diagram]) {
    display: grid;

    img {
        place-self: center;
    }
};

pre.mermaid {
    display: grid;
    place-items: center;

    &.gantt svg {
        min-width: 50% !important;
    }
};

img[title^=profile] {
    max-width: 5em;
    max-height: 5em;
    border-radius: 50%;
    padding-inline: 1em;
};

.sr-only {
    display: none;
};
