html,
body {
    max-width: 100dvw;
    min-height: 100dvh;
    display: grid;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'body' 'footer';
    position: relative;

    header { grid-area: header; }
    main {
        grid-area: body;
        padding: 10em 2em 2em 2em;
        place-items: start center;
    }
    footer { grid-area: footer; }

    * {
        display: grid;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    script {
        display: none !important;
    }
}

.hidden {
    display: none;
}

p:has(img[title^=diagram]) {
    display: grid;

    img {
        place-self: center;
    }
}

pre.mermaid {
    display: grid;
    place-items: center;

    &.gantt svg {
        min-width: 50% !important;
    }
}

.sr-only {
    display: none;
}
